<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'stilos.css' %}">

<title> Saul Jimenez</title>
</head>
<body>
<h1> Hola </h1>
<h1>hola mundo cruel </h1>
<h1>Saul Jimenez </h1>
<HR>
    {% for i in misalumnos %}
    <li><a href="alumno/{{i.id}}">{{i.nombre}}</a> </li>
    {% endfor %}
</HR>
<script src="{% static 'script.js' %}"></script>
</body>
</html>

